.content {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    background-size: contain;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px 10px 60px 10px;
}

@media only screen and (max-width: 600px) {
    .content {
        height: 90%;
        width: 90%;
        margin: 0 auto;
        padding: 0 5%;
    }
}